
.calendarDatePicker {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  width: 200px;
  height: 230px;
  font-size: 12px;
}

.calendarContOuter {
  position: absolute;
  top: 10px;
  left: 220px;
  display: inline-block;
  width: 1000px;
  height: 600px;
  font-size: 14px;
}

.cElemDatePicker {
  font-size: 14px;
}

.calendarDatePicker .cContHeader {
  padding: 0px;
}

.calendarContAgenda {
  position: absolute;
  top: 250px;
  left: 10px;
  display: inline-block;
  width: 200px;
  height: 360px;
  font-size: 12px;
  background-color: #E4F1FE;
}
