﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<section>
    <h4>What is it?</h4>
    <p>
        Event calendar is a platform where people can share events with their friends and family.
    </p>
</section>
<section>
    <h4>Next steps for development to finish phase 1:</h4>
    <p>
        * Add logger to log the errors and have detailed information about the exceptions.
        <br />* Add automated tests.
    </p>
</section>
<section>
    <h4>Next steps for improvement - phase 2:</h4>
    <p>
        * Make possible for user to add friends.
        <br />* Statistics page for events.
    </p>
</section>