﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <abbr title="Linkedin">Web:</abbr>
    https://www.linkedin.com/in/nurtenkovacheva/
    <br />
    <abbr title="Phone">Tel:</abbr>
    076 413 73 73
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Support@example.com">nurten.kovacheva@gmail.com</a><br />
</address>
