@{
  ViewData["Title"] = "Home Page";
}

<div class="calendarDatePicker"></div>
<div class="calendarContAgenda"></div>
<div class="calendarContOuter"></div>

@section scripts{
  <script src="~/dist/scripts.bundle.js"></script>
}
